{% extends 'layout.html.twig' %}

{% block title %}Déposer annonce{% endblock %}

{% block body %}

    <h3 class="card card-header text-center text-white mt-3 mb-3 " style="background-color: #0c5460">Dépose ton annonce</h3>

    <div class="container-fluid">
        {{ form(adForm) }}
    </div>

{% endblock %}

{% block js %}

    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('.custom-file input').on('change', function () {
                let fileName = $(this)[0].files[0].name;
                $(this).next('.custom-file-label').html(fileName);

            });

        });
    </script>

{% endblock js %}